@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Outfit&family=Saira+Condensed:wght@300;400&family=Saira+Semi+Condensed:wght@100;300&display=swap');


.card-container{
    color: rgb(0, 0, 0);
    height: 28.5em;
    width: 15em;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Creepster', cursive;
    font-size: 25px;
    border-radius: 5%;
    border: 7px rgb(168, 252, 34) solid;
    justify-content: center;
}

.card-img{
    margin: 0 auto;
    padding-top: 1em;
    justify-content: center;
}

.boton{
    color: rgb(0, 0, 0);
    font-family: 'Creepster', cursive;
    height: 3.5em;
    width: 7em;
    font-size: 19.5px;
    border-radius: 1.8em;
    margin-top: -3.5em;
    background-color: rgb(168, 252, 34);
    border-radius: 8em;
    border-width: thick;
    border-color: rgb(15, 75, 0);
}


.List {
    display: flex;
    justify-content: center;

}



