body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(25, 120, 158);
  /* background-image: url(./components/SPACE.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}